body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
     font-family: 'Rampart One';
     font-size: 40px;
     margin: 0px;
     animation: color-change 5s infinite;
}

p {
     text-transform: lowercase;
}

.title {
     background-color: black;
     color: white;
     padding-bottom: 8px;
}

.signUp-logIn {
     display: flex;
     justify-content: space-between;
     background-color: white;
     color: black;
     padding: 8px;
     font-family: 'Pangolin';
     text-shadow: 0 0 3px lavender;
}

.button:hover {
  cursor: pointer;
}

input[type=submit] {
     border-radius: 4px;
     color: black;
     font-family: 'Pangolin';
     font-size: 16px;
     padding: 4px 6px;
     background-color: #fdb;
     border: 2px solid lavender;
     margin-left: 5px;
}

input[type=text] {
     font-family: 'Pangolin';
     font-size: 16px;
}

input[type=password] {
     font-size: 16px;
}

.loginButton {
     display: flex;
     justify-content: flex-end;
}

.loginForm {
     display: flex;
     flex-direction: column;
     align-items: flex-end;
     position: absolute;
     right: 5px;
}

.createAccountForm {
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     position: absolute;
     left: 5px;
}

.title {
     display: flex;
     align-items: center;
     justify-content: center;
}

.add-question-container {
     display: flex;
     justify-content: center;
     text-transform: lowercase;
}

.add-question {
     display: flex;
     align-items: center;
     gap: 10px;
     font-family: 'Pangolin';
     font-weight: 600;
     font-size: 20px;
     position: absolute;
     left: 55px;
     padding-top: 15px;
}

.qField {
     border: 1px solid white;
     border-bottom: 1px solid black;
     font-family: 'Pangolin';
     font-size: 20px;
}

.addQSubmit {
     text-transform: lowercase;
     background-color: black;
     color: white;
     padding: 7px 10px 7px 10px;
     border: 1px solid black;
     width: 100px;
     font-family: 'Pangolin';
     border-radius: 4px;
     font-size: 16px;
     font-weight: 600;
}

.randomQ {
     margin: 0 auto;
     margin-top: 70px;
     width: 150px;
     text-align: center;
     font-family: 'Pangolin';
     font-size: 20px;
     font-weight: 500;
     background-color: #fdb;
     border: 2px solid lavender;
     box-shadow: 2px 2px 5px lavender;
     border-radius: 6px;
     color: black;
     padding: 10px;
     transition: .5s;
}

.questions-container {
     display: flex;
     justify-content: center;
     gap: 20px;
}

.question {
     display: flex;
     flex-direction: column;
     width: 300px;
     font-family: 'Pangolin';
     text-align: center;
     margin-top: 40px;
}

.question-div {
     border: 1px solid black;
     border-radius: 4px;
     font-weight: 600;
     font-size: 40px;
     padding: 0 20px;
}

.comments-detail {
     font-size: 20px;
     border: 1px solid #fdb;
}

.comments-summary {
     background-color: #fdb;
}

.addComment {
     margin-top: 10px;
     margin-bottom: 10px;
}

.comments-container {
     /* overflow: scroll;
     /* max-height: 100px; */
}

.comment-container {
     display: flex;
     justify-content: space-between;
     border-bottom: 2px solid #ccc;
     padding: 5px 5px;
     margin-left: 10px;
     margin-right: 10px;
     font-size: 16px;
}

.comment {
     text-align: left;
}

.deleteComment {
     background-color: white;
     border: none;
     font-family: 'Pangolin';
     border-radius: 4px;
     font-size: 13px;
     font-weight: 600;
}

.editDelete {
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding: 1px;
     margin-top: 3px;
}

.delete {
     background-color: white;
     color: red;
     padding: 3px 5px;
     border: none;
     font-family: 'Pangolin';
     border-radius: 4px;
     font-size: 16px;
     font-weight: 600;
}

.edit-detail {
     text-align: left;
     font-size: 14px;
}


@media only screen and (min-width: 700px) {
     h1 {
          font-size: 60px;
          animation: color-change 5s infinite;
     }

     .add-question {
          position: absolute;
          left: 1px;
     }

     .signUp-logIn {
          font-size: 20px;
     }

     input[type=text] {
          font-size: 20px;
     }

     input[type=password] {
          font-size: 20px;
     }

     input[type=submit] {
          font-size: 20px;
     }

     .question {
          width: 600px;
     }

     .question-div {
          font-size: 60px;
     }

     .comment-container {
          font-size: 18px;
     }

     /* .comments-container {
          overflow: scroll;
          max-height: 200px;
     } */

     .comment-input {
          width: 350px;
     }

     .edit-detail {
          font-size: 14px;
          text-align: left;
     }

     .edit-field {
          width: 350px;
     }

     .randomQ:hover {
          background-color: lavender;
          border: 2px solid lavender;
          box-shadow: 3px 3px 5px 2px #fdb;
     }

     .deleteComment:hover {
          color: red;
     }

     .delete:hover {
          color: black;
          text-shadow: 1px 1px 5px red;
     }
}

@keyframes color-change {
    0% { color: #6495ED; }
    45% { color: #FFDAB9; }
    65% { color: #D8BFD8; }
    100% { color: #000; }
}
